<<<<<<< HEAD
#map {
    height: 400px;
    width: 70%;
=======
/* This is my CSS File*/
#map {
    height: 400px;
    width: 80%;
>>>>>>> origin/master
    display: inline-block;
}

#panel {
<<<<<<< HEAD
    width: 23%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider{
	width: 50%;
}

#forward{
	float: right;
}

#reverse{
	float: left;
=======
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
>>>>>>> origin/master
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}