#map {
    height: 500px;
    width: 55%;
    display: inline-block;
}
#title {
    font: bold 2em Georgia;
    color: white;
    text-align: center;
    background-color: #DC143C
}
#subtitle {
    height: 660px;
    font: bold 1.6em Georgia;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.8)
}

/*#panel {
    width: 23%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}*/

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: white 1px;
}

.range-slider{
	width: 200px;
}

#forward{
	float: right;
}

#reverse{
	float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#temporal-legend {
    font-weight: bold;
    font: 16px Georgia;
    color: white;
    font-size: 1.5em;
}

.legend-control-container {
    width:160px;
    height: 110px;
    background-color: rgba(0,0,0,0.8);
    border: white 5px;  
    text-align: center;
}